<h1>Recipes Index</h1>
  <ul>
<<<<<<< HEAD
    {{#each recipe in parse}}
=======
>>>>>>> 8846c81... ref data in readme, adapter and friends route created
    <li>{{recipe.name}}</li>
    {{/each}}
  </ul>

<<<<<<< HEAD
  {{#link-to 'recipes.show' recipe}}
  {{/link-to}}

=======
>>>>>>> 8846c81... ref data in readme, adapter and friends route created
{{outlet}}
